<p id="notice"><%= notice %></p>

<p>
  <strong>Make:</strong>
  <%= @make.make %>
</p>

<p>
  <strong>Country:</strong>
  <%= @make.country %>
</p>

<%= link_to 'Edit', edit_make_path(@make) %> |
<%= link_to 'Back', makes_path %>
